doctype html
html
  head
    // - titel på sidan -
    title
      | Bästa Pizzerian
    link(rel='stylesheet', href='/stylesheets/index.css')
    style.
      body {background-color: black;}
  body
    // backround img
    .imgbox
      img.center-fit(src='/images/opengraph.jpg')
      .pizza-logo
        a(href='/')
          img(src='/images/images2.0.png' alt='LOGO')
      .menu-box
        a(href='/menu')
          p Meny
      .contacts-box
        a(href='/contacts')
          p Kontakt
      .order-box
        a(href='/order')
          p Beställ
      .login-box
        a(href='/profile')
          img(src='/images/login-pic.png' alt='login' height='90px')
    .index-info
      p#info-header
        | Bästa Pizzan Sedan: 2022
      br
      p#new-pizza Vänta inte utan beställ redan 
      br
      br
      br
      br
      br
      br
      a#info-order(href='/menu')
        p NU!